html {
    height: 100%;
    margin: auto;
}

.category-menu {
    background-color: #3C4F76;
    width: 20rem;
    color: white;
}

.fashion {
    background: #3C4F76;
    width: 20rem;
}

a {
    color: white;
}

a:hover {
    background-color: white;
    color: black;
}

ul {
    list-style-type: none;
}