* {
    color: white;
}

input {
    color: black;
}

.companies {
    list-style-type: none;
    width: 15em;
}

.companies li {
    cursor: pointer;
    position: relative;
    left: 0;
    margin: .5em;
    padding: .3em 0;
    border-radius: 4px;
}

.companies li:hover {
    color: #607D8B;
    background-color: #DDD;
}

.companies li.selected {
    background-color: #CFD8DC;
    color: white;
}

.companies li.selected:hover {
    background-color: #BBD8DC;
    color: white;
}