<div class="position has-text-centered">
    <div class="title is-size-1 is-size-2-mobile has-text-weight-black has-text-black">Top Companies</div>
    <div class="columns is-desktop">

        <div class="column has-background-dark">
            <figure class="image is-128x128">
                <img src="D:\Coding\Angular\Scholarship\scholarship\src\app\images\kowtow">
            </figure>

            <a>Kowtow</a>

        </div>


        <div class="column has-background-dark">

            <figure class="image is-128x128">
                <img src="images/huffer-jacket.jpg" />
            </figure>

            <a>Commoners</a>

        </div>


        <div class="column has-background-dark">

            <figure class="image is-128x128">
                <img src="D:\Coding\Angular\Scholarship\scholarship\src\app\images\huffer-jacket.jpg">
            </figure>

            <a>Huffer</a>

        </div>


    </div>
</div>