/*html {
  background: url('D:\Coding\Angular\Scholarship\scholarship\src\app\images\phone-thrown0000.jpg') no-repeat center center fixed;
  background-size: cover;
}*/

/*! debug.css | MIT License | zaydek.github.com/debug.css 
*:not(path):not(g) {
  color: hsla(210, 100%, 100%, 0.9) !important;
  background: hsla(210, 100%, 50%, 0.5) !important;
  outline: solid 0.25rem hsla(210, 100%, 100%, 0.5) !important;
  box-shadow: none !important;
}*/
/*Helpers*/
.hero{
  background-color: bisque;
}

@media (max-width: 768px) {
    .navbar-item{
        font-size:5px;
    }
  hero {
    background-color: brown;
  }
  #grid {
    grid-template-areas: "a a a" "b c d" "e e e";
  }
}

@media (max-width: 1024px) {
  .desktop {
    display: none;
  }
  .hero {
    background-color: aliceblue;
  }
}
