<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
  <script src="https://kit.fontawesome.com/76eff0c17b.js" crossorigin="anonymous"></script>
  <title>Scholarship</title>
</head>

<body>

  <section class="hero is-fullheight">

    <nav class="hero-head">
      <div class="columns is-mobile is-marginless heading">
        <div class="column left">
          <div class=" has-text-white is-size-6-mobile">
            <p>My Website</p>
          </div>
          <figure class="navbar-item has-text-white is-size-6-mobile">
            <p>Bar</p>
            <i class="fas fa-bars"></i>
          </figure>
        </div>
        <div class="column center desktop">
          <p class="navbar-item has-text-black">
            <a routerLink="/ratings">Ratings</a>
          </p>
          <p class="navbar-item has-text-black">
            <a routerLink="/top-companies" class="link is-info">Top Companies</a>
          </p>
        </div>
        <div class="column right">
          <p class="navbar-item has-text-black desktop">SHOP     </p>
          <p class="navbar-item has-text-black desktop">SIGN IN  </p>
          <app-search-box></app-search-box>
        </div>
      </div>
    </nav>

    <div class="hero-body columns">
      <div class="column is-one-quarter is-hidden-mobile">
        <app-companies></app-companies>
      </div>
      <div class="column is-half">
        <router-outlet></router-outlet>
      </div>
    </div>

    <main class="hero-foot center" style="padding: 2rem;">
      <div id="a" class="center-column">
        <p class="has-text-centered has-text-black">
          This is a very cool and fun footer
        </p>
      </div>
    </main>

    <div>

    </div>

  </section>
</body>

</html>
