<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/your-path-to-fontawesome/css/all.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
  <title>Document</title>
</head>

<body>
  <div class="columns is-mobile">
    <div class="column one is-one-third">
      <app-search-box></app-search-box>
      <div>
        <a class="nav-item column " href="#">Furniture</a>
        <i class="fas fa-couch"></i>
      </div>
      <a class="nav-item column " href="#">Electronics</a>
      <a class="nav-item column " href="#">Jewelry</a>
      <a class="nav-item column " href="#">Sports Goods</a>
      <a class="nav-item column " href="#">Shoes</a>
      <a class="nav-item column " href="#">Fashion</a>
      <a class="nav-item column " href="#">Cosmetics</a>
      <a class="nav-item column " href="#">Beverages</a>
      <a class="nav-item column " href="#">Gaming</a>
    </div>
    <div class="column two is-one-third">
      <app-search-box></app-search-box>
      <a class="nav-item column " href="">Louis Vitton</a>
      <a class="nav-item column " href="">Gucci</a>
      <a class="nav-item column " href="">Prada</a>
      <a class="nav-item column " href="">Chanel</a>
      <a class="nav-item column " href="">Ralph Lauren</a>
      <a class="nav-item column " href="">Burberry</a>
      <a class="nav-item column " href="">House of Versace</a>
      <a class="nav-item column " href="">Fendi</a>
      <a class="nav-item column " href="">Armani</a>
    </div>
  </div>
</body>

</html>