html{
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100%;
  background-image: url("../images/purple-gradient.jpg");
  background-size: cover;
}

a{
  padding: 1.35rem;
  color: white;
}

.nav-item:hover{
  color: #190E4f;
  background-color: #D1D1D1;
}

.nav-item{
  background-color: #B33C86;
}

.columns{
  margin-left: .75rem;
  margin-right: .75rem;
}

.column{
  height: 100%;
  margin-top: 0.05rem;
  border-radius: 5px;
}

.one{ 
  color: white;
  margin-right: 0.5rem;
  border-radius: 5px;
  height: 100%;
}

.two{
  color: white;
  height: 100%;
}

@media only screen and (max-width: 600px){
  .nav-item{
    list-style-type: none;
    display: block;
  }
}